<!DOCTYPE html>
<html>
  <head>
    <style>
      /* body {
        background: url(assets/background.jpeg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;
      } */

      html {

        /* 
         =============================================
            point to the assets folder in the root folder

            generated html files will use these directories
        
         */
        background: url(../../assets/background.jpeg);
        background-repeat: repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      height: 100%;
      }

      section:nth-child(odd) {
   background-color: #ccc;
}
      
      .center {
        display: block;
        margin-left: 350px;
        margin-top: 50px;
        margin-right: auto;
      }
      .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
      }

    .style_20 { padding-bottom: 4pt;}
    .style_21 { padding-bottom: 1pt;}
    .style_22 { padding-bottom: 4pt;}
    .style_27 { border-top: 1px solid rgb(0, 0, 0);}
    .style_29 { padding-left: 5pt;}
    .style_0 { font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 11pt; color: black; text-indent: 0em; letter-spacing: normal; word-spacing: normal; text-transform: none; white-space: normal; line-height: normal;}
    .style_1 { color: rgb(128, 128, 128);}
    .style_2 { padding-top: 0pt;}
    .style_4 { padding-top: 10pt;}
    .style_5 { padding-top: 10pt;}
    .style_6 { padding-top: 10pt;}
    .style_8 { padding-top: 10pt;}
    .style_9 { padding-bottom: 20px;}
    .style_10 { font-weight: bold; font-size: 18px;}
    .style_11 { padding-bottom: 5px;}
    .style_12 { padding-top: 20px;}
    .style_15 { border-bottom: 1px solid rgb(0, 0, 0);}
    .style_16 { font-weight: bold;}
    .style_17 { font-weight: bold;}

    thead { display: table-header-group; }
tfoot { display: table-row-group; }
tr { page-break-inside: avoid; }

table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}

.logo{
    display: none;
}
    </style>

    
  </head>
  <body id="background-image">
      <br>
    <img class="image" src="../../assets/zb-logo.png" height="120" />
    
    <div style="margin-left: 430px;" class="center">
      <h3>Interim Statement</h3>
    </div>
    <table class="style_0" cellpadding="0" rules="none" style="margin-left: 130px; empty-cells: show; border-collapse:collapse; width:180mm; overflow: hidden; table-layout:fixed;">
        <col></col>
    
        <tr>
            <td valign="top">
                <table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_4_616a2ef6-b6a9-4af5-81e0-6ecd914974b0">
                    
                    <tr valign="top" align="left">
                        <td style=" overflow:hidden;">
                            <table style="border-collapse: collapse; empty-cells: show; height: 3.836cm; width: 17.754cm; overflow:hidden; table-layout:fixed;" id="__bookmark_1">
                                <col style=" width: 8.202cm;"></col>
                                <col style=" width: 9.551cm;"></col>
                                <tr valign="top" align="left">
                                    <td class="style_11" style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">{{account_holder_name}}</div>
                                    </td>
                                    <td class="style_11" style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">DATA CENTRE</div>
                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td class="style_11" style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">{{ account_holder_full_name }}</div>
                                    </td>
                                    <td class="style_11" style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">CCIS Head office branch</div>
                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td class="style_11" style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">{{account_holder_address}}</div>
                                    </td>
                                    <td class="style_11" style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">WESTEND</div>
                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td class="style_11" style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">{{account_holder_city_country}}</div>
                                    </td>
                                    <td class="style_11" style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">HARARE</div>
                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td style=" overflow:hidden;">
                                        <div style=" overflow:hidden;"></div>
                                    </td>
                                    <td style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">ZIM</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr valign="top" align="left">
                        <td class="style_12" style=" overflow:hidden;">
                            <table style="border-collapse: collapse; empty-cells: show; width: 16.166cm; overflow:hidden; table-layout:fixed;" id="__bookmark_2">
                                <col style=" width: 3.651cm;"></col>
                                <col style=" width: 0.794cm;"></col>
                                <col style=" width: 11.721cm;"></col>
                                <tr valign="top" align="left">
                                    <td style=" overflow:hidden;">
                                        <div id="AUTOGENBOOKMARK_6_04e4e79f-54c9-42f7-b822-91d4d5bda870">Account Number</div>
                                    </td>
                                    <td style=" overflow:hidden;">
                                        <div id="AUTOGENBOOKMARK_7_77399d2e-61d8-47a5-ba95-83c0038a290d">:</div>
                                    </td>
                                    <td style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">{{account_number}}</div>
                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td style=" overflow:hidden;">
                                        <div id="AUTOGENBOOKMARK_8_ad6438c4-6782-4eec-b1f5-4d029c812669">Currency</div>
                                    </td>
                                    <td style=" overflow:hidden;">
                                        <div id="AUTOGENBOOKMARK_9_df5993d3-caf4-407c-9082-6cae845fe6f0">:</div>
                                    </td>
                                    <td style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">{{currency}}</div>
                                    </td>
                                </tr>
                                <tr valign="top" align="left">
                                    <td style=" overflow:hidden;">
                                        <div id="AUTOGENBOOKMARK_10_2b4b89be-862d-47a7-aa79-4a51c2adf495">Account Type</div>
                                    </td>
                                    <td style=" overflow:hidden;">
                                        <div id="AUTOGENBOOKMARK_11_dbbd34b8-f048-4e0d-a737-8d78fdd74fa8">:</div>
                                    </td>
                                    <td style=" overflow:hidden;">
                                        <div style=" overflow:hidden;">{{account_type}}</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr valign="top" align="left">
                        <td class="style_12" style=" overflow:hidden;">
                            <table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_12_4224145a-8a21-4824-be29-11838bda4922">
                                <col></col>
                                <tr valign="top" align="left">
                                    <td style=" overflow:hidden;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table style="border-collapse: collapse;width: 100%; overflow:hidden;" id="__bookmark_3">
                    
                    <THEAD>
                        
                        <tr valign="top" align="center">
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                        </tr>
                        
                        <tr valign="top" align="center">
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                        </tr>
                        
                        <tr valign="top" align="center">
                            
                            <th  colspan="" class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;">Date</div>
                            </th>

                            <th class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;"></div>
                            </th>
                            <th class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;">Description</div>
                            </th>
                            <th class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;"></div>
                            </th>
                            <th class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;"></div>
                            </th>

                            <th  class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;">Credit</div>
                            </th>

                            <th class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;"></div>
                            </th>
                            <th class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;"></div>
                            </th>
                            <th  class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;">Debit</div>
                            </th>

                            <th class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;"></div>
                            </th>
                            <th  class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;">Balance</div>
                            </th>

                            <th class="style_15" style=" overflow:hidden;font-weight: normal; border-bottom: 1px solid rgb(0, 0, 0);">
                                <div class="style_17" id="AUTOGENBOOKMARK_15_8a64532f-c4f1-474f-94f7-b30cdade554b" style=" text-align:left;"></div>
                            </th>
                        </tr>
                        <tr valign="top" align="center">
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                            <th><br></th>
                        </tr>
                       
                      </THEAD>
                      
                      {% for transaction in transactions %}
                   
                    <tr valign="top">
                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;">{{transaction.date}}</div>
                        </td>

                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;"></div>
                        </td>
                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;"> {% if transaction.description.narration1 %}
                                {{ transaction.description.narration1 }}<br/>
                                {% endif %}
                                {% if transaction.description.narration2 %}
                                {{ transaction.description.narration2 }}<br/>
                                {% endif %}
                                {% if transaction.description.narration3 %}
                                {{ transaction.description.narration3 }}<br/>
                                {% endif %}
                                {% if transaction.description.narration4 %}
                                {{ transaction.description.narration4 }}<br/>
                                {% endif %}
                                {% if transaction.description.narration5 %}
                                {{ transaction.description.narration5 }}<br/>
                                {% endif %}</div>
                        </td>
                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;"></div>
                        </td>
                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;"></div>
                        </td>
                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;">{{transaction.credit}}</div>
                        </td>

                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;"></div>
                        </td>
                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;"></div>
                        </td>
                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;">{{transaction.debit}}</div>
                        </td>

                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;"></div>
                        </td>
                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;">{{transaction.balance}}</div>
                        </td>

                        <td class="style_20">
                            <div class="style_21" style=" text-align:left;"></div>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br>

    <div style = "display:block; clear:both; page-break-after:always;"></div>
  </body>
</html>
